.light {
background: rgb(226, 226, 226)
}

.dark-top{
  background: rgb(66, 66, 66);
  width:100%;
  height: 10vh;
}

.left{
  background: rgb(221, 221, 221);
  width: 10%;
  height: 90vh;
  float: left;
}
.right{
  background: rgb(221, 221, 221);
  width: 10%;
  height: 90vh;
  float: right;
}

.bottom{
  height: 10vh;
  background: rgb(66, 66, 66);
  width:80%;
  position: absolute;
  bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
}
